apiVersion: apps/v1
kind: Deployment
metadata:
  name: restapi
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: restapi
  template:
    metadata:
      labels:
        app: restapi
    spec:
      serviceAccountName: restapi-sa
      containers:
        - name: restapi
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: restapi-config
          volumeMounts:
            - name: artifacts
              mountPath: {{ .Values.artifacts.mountPath }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
      volumes:
        - name: artifacts
          persistentVolumeClaim:
            claimName: {{ .Values.artifacts.pvcName }}

