apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: restapi-job-runner
  namespace: {{ .Values.worker.namespace }}
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["create", "get", "list", "watch", "delete"]
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list", "watch"]

